#projects {
  text-align: center;
  padding: 4rem 0;
}

.projectsTitle {
  color: #9500ff;
  margin: 0.5rem;
  font-size: 3rem;
  font-weight: 300;
  transition: text-shadow 0.3s ease, color 0.3s ease;
}
.projectsTitle:hover {
  text-shadow: 0 0 10px rgba(149, 0, 255, 0.7), 0 0 20px rgba(149, 0, 255, 0.5),
    0 0 30px rgba(149, 0, 255, 0.4);
}
.projectsDesc {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.projectImg {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.projectImg:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
