#skills {
  margin: 0 auto;
  min-height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 3rem;
  background-color: black;
}

.skillTitle {
  margin: 1.5rem;
  font-size: 3.5rem;
  font-weight: bold;
}

.skillDesc {
  font-weight: 300;
  font-size: 1.2rem;
  padding: 1.5rem;
}

.skillBars {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  max-width: 70rem;
  width: 100%;
  margin: 0 auto;
}

.skillBar {
  display: flex;
  align-items: center;
  background-color: rgb(47, 45, 45);
  padding: 25px;
  border-radius: 0.5rem;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.skillBar:hover {
  transform: translateY(-5px);
}

.skillBarImg {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.skillBarText {
  flex-grow: 1;
}

.skillBarText h2 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: bold;
}

.skillBarText p {
  margin: 5px 0 0;
  font-size: 1.1rem;
  color: #666;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .skillBars {
    grid-template-columns: 1fr; /* Stack skill bars vertically */
    gap: 20px;
  }

  .skillTitle {
    font-size: 2.5rem;
  }

  .skillDesc {
    font-size: 1rem;
  }

  .skillBar {
    padding: 15px;
  }

  .skillBarText h2 {
    font-size: 1.5rem;
  }
}
