#skills {
  margin: 0 auto;
  min-height: calc(90vh - 4rem);
  width: 100vw;
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 3rem;
}

.skillTitle {
  color: #9500ff;
  margin-bottom: 4rem;
  font-size: 3rem;
  font-weight: 300;
  transition: text-shadow 0.3s ease, color 0.3s ease;
}

.skillTitle:hover {
  text-shadow: 0 0 10px rgba(149, 0, 255, 0.7), 0 0 20px rgba(149, 0, 255, 0.5),
    0 0 30px rgba(149, 0, 255, 0.4);
}

.skillBars {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the entire grid horizontally */
  gap: 40px; /* Adjusted for better spacing */
  max-width: 70rem;
  width: 100%;
  margin: 0 auto;
}

.skillBar {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Center icons within each row */
  align-items: center; /* Center icons vertically */
  flex-wrap: wrap;
  gap: 60px; /* Adjust gap between icons for better spacing */
  width: 100%; /* Ensure each skillBar takes full width */
}

.skillBarLang,
.skillBarLib,
.skillBarBD,
.skillBarTool {
  display: flex;
  justify-content: center; /* Center icons in each section */
  align-items: center; /* Center icons vertically */
  flex-wrap: wrap;
  width: 100%;
  gap: 8rem; /* Adjust gap between icon sets */
}

.skillBarImg {
  width: 60px;
  height: 60px;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .skillBars {
    gap: 30px; /* Reduce the gap between items */
  }
  .skillBar {
    gap: 40px; /* Reduce the gap between icons */
  }
  .skillBarLang,
  .skillBarLib,
  .skillBarBD,
  .skillBarTool {
    gap: 6rem; /* Adjust gap for medium screens */
  }
}

@media (max-width: 768px) {
  .skillBars {
    flex-direction: column; /* Stack sections vertically */
    gap: 20px;
  }

  .skillTitle {
    font-size: 2.5rem;
  }

  .skillBar {
    gap: 20px; /* Narrow gap between icons */
  }

  .skillBarLang,
  .skillBarLib,
  .skillBarBD,
  .skillBarTool {
    gap: 4rem; /* Adjust gap for smaller screens */
  }
}

@media (max-width: 480px) {
  .skillBars {
    gap: 10px; /* Narrow the gap even more for small screens */
  }

  .skillTitle {
    font-size: 2rem;
  }

  .skillBar {
    gap: 15px; /* Tighter spacing between icons on very small screens */
  }

  .skillBarLang,
  .skillBarLib,
  .skillBarBD,
  .skillBarTool {
    gap: 2rem; /* Minimize gap for mobile devices */
  }

  .skillBarImg {
    width: 40px; /* Shrink icons slightly on smaller screens */
    height: 40px;
  }
}
