#contactPage {
  padding: 4rem 0;
  text-align: center;
}

.contactTitle {
  color: #9500ff;
  margin: 0.5rem;
  font-size: 3rem;
  font-weight: 300;
  transition: text-shadow 0.3s ease, color 0.3s ease;
}
.contactTitle:hover {
  text-shadow: 0 0 10px rgba(149, 0, 255, 0.7), 0 0 20px rgba(149, 0, 255, 0.5),
    0 0 30px rgba(149, 0, 255, 0.4);
}
.contactDesc {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.form-control {
  padding: 1rem;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  background-color: #333;
  color: #fff;
  border: none;
}

.btn {
  padding: 0.75rem 2rem;
  border-radius: 0.5rem;
}

.links a {
  font-size: 1.5rem;
  color: #fff;
  transition: color 0.3s ease;
}

.links a:hover {
  color: aqua;
}

@media (max-width: 768px) {
  .contactTitle {
    font-size: 2.5rem;
  }

  .contactDesc {
    font-size: 1rem;
  }
}
