#intro {
  height: calc(100vh - 4rem);
  margin: 0 auto;
  padding: 3rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.introContent {
  padding: 2rem;
}

.hello {
  font-size: 2rem;
  font-weight: 100;
}

.introText {
  font-size: 3rem;
  font-weight: 700;
}

.introName {
  color: purple;
}

.introPara {
  font-size: 1.2rem;
  font-weight: 100;
}

.btn {
  margin: 1rem 0;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
}

.profile-img {
  max-width: 400px; /* Set a larger max width for the image */
  height: 300px;
  object-fit: cover;
  border-radius: 50%; /* Make the profile picture circular */
  margin-bottom: 20%;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .introContent {
    text-align: center;
    width: 100%;
  }

  .bg {
    display: none;
  }

  .hello,
  .introText {
    font-size: 1.5rem;
  }

  .introPara {
    font-size: 1rem;
  }

  .btn {
    width: 100%;
  }
  .profile-img {
    object-fit: cover;
  }
}
